
{% extends "header.html" %}
{% block body %}
<!--       <pre class="prettyprint">              width="750" height="423"    -->
<body class="body">


      <div class="container gcont" align="left" style="max-width:800px">

	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <img style="max-width: 600px" src="{{ url_for('static', filename='images/phone.png') }}">
	  
	  <p></p>
	  <p></p>
	  <p></p>
	  <p></p>
	  
	  
		
		
		
		<div class="row">
		<div class="col l6">
		<pre  class="prettyprint">
CODE HERE
		</pre></div>
		<div class="col l6">

	  
		
		
		
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
	  </div>

</body>

{% endblock %}

