
{% extends "header.html" %}
{% block body %}
<div class="gcont"  >
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="/projects/">Projects</a></li>
    </ul>
    <h2>{{curTitle}}</h2>
	<br />
    <img style="max-width: 65%" src="{{ url_for('static', filename='images/seedbox.jpg') }}">
	<p><br />The Pi's low power requirements make it perfect for an always on seedbox. You can even have it connect through a VPN service for anonymity. (Coming Soon!)</p>
	
    <hr />
	<ul class="blogul">
    	<li><a href="#one" data-toggle="collapse">One</a>
        <span>
	    	<div id="one" class="collapse">
	    		<br />
	    		<p>One</p><br />
                <hr />
			</div>
        </span>
		</li>
    	<li><a href="#two" data-toggle="collapse">Two</a>
        <span>
	    	<div id="two" class="collapse">
	    		<br />
	    		<p>Two</p><br />
                <hr />
			</div>
        </span>
		</li>
	</ul>
	<hr>
	<div class="col l6">
    	<br />
		<center><button onclick ="goBack()" class="btn"><span>Back</span></button><br /></center>
    </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
   $('#myTab a').click(function (e) {
     e.preventDefault()
     $(this).tab('show')
   })
        </script>
</div>
{% endblock %}

