body {
  background-color: #d9d9d9;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #323232;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  border-color: #f4511e;
}

h2 {
  color: #323232;
}



.btn {
  display: inline-block;
  border-radius: 40px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s;
  padding 20px;
  cursor: pointer;
  margin: 0px auto;
  width: 200px;
  height: 50px;
  vertical-align: middle;
}

.blogul>li {
  color: #f4511e;
  list-style-type: square;
}
.blogul span {
  color: #323232 !important;
}
.projul>li::marker {
  color: #f4511e;
  list-style-type: square;
}
.projul>li {
  color: #323232 !important;
}
.otherul>li {
  color: #f4511e !important;
  list-style-type: square;
}

.otherul span {
  color: #f4511e;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ffffff;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #ffffff;
}

.btn:hover span {
  padding-right: 25px;
  color: #ffffff;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
  color: #ffffff;
}

code {
  background-color: #353a3d;
  color: #efa43a;
}

.code {
  background-color: #353a3d !important;
  color: #efa43a !important;
}

.prettyprint {
  background-color: #353a3d !important;
  color: #efa43a !important;
}

a:link {
  color: #f4511e;
  text-decoration: none;
}

a:visited {
  color: #c34018;
  text-decoration: none;
}

a:hover {
  color: #f4511e;
  text-decoration: none;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

a:active {
  color: #000000;
  text-decoration: none;
}

.gcont {
  background-color: #f3f3f3 !important;
  border-radius: 8px;
  padding: 20px 20px;
  border: thick !important;
  border-color: #000000 !important;
}

.navbar .active a {
  background: #f4511e !important;
}

.navbar {
  border-style: none;
  background-color: #101011;
}

.navbar-header {
  position: relative;
  z-index: 10000;
  max-width: 50%
}

.navs {
  position: relative;
  bottom: 0;
  max-width: 50%;
  list-style-type: none;
  z-index: 500;
}

.navs>li {
  margin: 55px 5px 0 5px;
}

.navs>li>a:hover {
  color: #f4511e !important;
}

.container {
  background-color: #d9d9d9 !important;
  position: relative;
}

.nav-tabs {
  border-color: #f4511e;
}

.nav-tabs>li {
  border-color: #f4511e;
}

.nav-tabs>li.active>a:hover {
  background-color: #f3f3f3 !important;
  color: #f45f31 !important;
  font-weight: bold;
  border-color: #f4511e;
}

.nav-tabs>li.active>a:visited {
  background-color: #f3f3f;
  color: #c94319;
  font-weight: bold;
  border-color: #f4511e;
}

.nav-tabs>li.active>a:link {
  background-color: #f3f3f3 !important;
  color: #c94319;
  font-weight: bold;
  border-color: #f4511e;
}

.nav-tabs>li.active {
  background-color: #f3f3f3 !important;
  color: #000000;
  font-weight: bold;
  border-color: #f4511e;
  bottom-border: none !important;
}

.nav-tabs>li.active>a {
  background-color: #f3f3f3 !important;
  color: #f45f31;
  font-weight: bold;
  border-color: #f4511e;
}

.nav-tabs>li>a:hover {
  background-color: #f3f3f3 !important;
  color: #c94319;
  font-weight: bold;
  border-color: #f4511e;
}

.nav-tabs>li>a {
  background-color: #f3f3f3 !important;
  border: 0px;
  border-color: #f4511e;
  color: #000000;
}

.projects {}

@media screen and (max-width: 768px) {
  .projects {
    padding-left: 0px !important;
    margin: 0px !important;
  }

  .gcont {
    padding: 8px 15px;
    border: thick !important;
    border-color: #000000 !important;
  }

  .code {
    padding: 8px;
  }

  body {
    font-size: 12px;
  }

  h3 {
    font-size: 1.3em;
  }

  .navbar-header {
    max-width: 50%;
  }

  .navs {
    position: relative;
    bottom: 0;
    list-style-type: none;
    max-width: 50%;
  }

  .navs>li {
    margin: 2px 5px 0 5px;
  }
}
}
