{% extends "header.html" %}

{% block body %}
<div id="container" class="gcont">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class=""><a href="/projects/">Projects</a></li>
    <li role="presentation" class="active"><a href="/about/">About</a></li>
  </ul>
  <div class="sectiontitle" style="max-width: 800px; margin: 0 auto">
    <br />
    <center><img style="max-width: 240px" src="{{ url_for('static', filename='images/banner_blk.png') }}">
      <br />
      <br />
      <h2 style="color: #f4511e">Howdy!</h2>

    </center>
      <hr style="margin: 0 auto">
      <br />


        <p>Hello! I am a 36 year old family man obsessed with technology. I currently work with Kubernetes and OpenStack for a living.
          Previously, I worked in telecommunications doing nerdy things to LTE sites and routers.
          I enjoy what I do and I hope to share some of my projects with you.</p><br />
          <p>This site was built from scratch using Flask and is running inside of a several Kubernetes containers.<br><br></p>


          <div class="row" align="left">

            <div class="col-xs-10 col-sm-6">
              <br />
              <p>The cluster consists of 4 Raspberry Pi 4s.</p>
              Currently this page is running on:<br>
              Pod: {{ pod }}<br>
              Node: {{ node }}<br><br>
            </div>
            <div class="col-xs-14 col-sm-6">
              <br />
              <p align="left"><img style="max-width: 100%; max-height: 200px; position: relative" src="{{ url_for('static', filename='images/picluster.png') }}"><br />
              </p>
            </div>
            <!-- Add the extra clearfix for only the required viewport -->
            <div class="clearfix visible-xs-block"></div>
          </div>


        <br />
        <p>If you refresh you may end up on another pod or node!
          Because who doesnt want a highly available, obscure, lightly trafficked blog!</p><br />

        <p>I hope this site will allow me to meet some interesting folks. If you have any questions or you found something
          useful feel free to reach out and say 'hi.' If you spot an error or have some knowledge to share I'd love to hear
          from you!</p><br />

        <p>Thank you for poking around my website,<br />
        Chris<br />
        <a href="mailto:sanitizedinput@gmail.com">sanitizedinput@gmail.com</a><br />
        <a href="https://www.linkedin.com/in/christian-s-jones/">LinkedIn</a></p><br />
        <img style="max-width: 100%" src="{{ url_for('static', filename='images/wind-turbines.jpg') }}"><br /><br />
      <hr style="margin: 0 auto">
      <br />
      <br />
  </div>
</div>
{% endblock %}
