<!DOCTYPE html>
<html lang=en>

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107371884-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-107371884-1');
  </script>
  <meta charset=utf-8>
  <title>Sanitized Input</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel=stylesheet>
  <link href="{{ url_for('static', filename='css/sanitized.css') }}" rel=stylesheet>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logoonly.png') }}">
  <link href="{{ url_for('static', filename='images/logoonly.png') }}" rel=icon>

</head>

<header>
  <nav class="navbar navbar-inverse">
    <div class="container" style="max-width: 80%; background-image: url({{ url_for('static', filename='images/background.png') }}); background-size: 100%">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div style="max-width: 100%; margin: 0 auto">
        <div class="navbar-header" style="min-height: 85px">
          <a class="navbar-brand" href="/"><img style="max-width: 165px; margin-top: -4px" src="{{ url_for('static', filename='images/banner.png') }}"></a>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </nav>
</header>

<body>
  <div class="border-row" style="width:100%; margin-bottom: 15px;"></div>
  <div class="container" style="min-height: 100%; max-width: 1500px; margin: auto">
    {% block body %}{% endblock %}
  </div>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>

<footer>
  <nav class="navbar navbar-inverse" style="margin-top:20px; margin-bottom:0px">
    <div class="container" style="max-width: 80%; background-image: url({{ url_for('static', filename='images/background.png') }}); background-size: 100%">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div style="max-width: 100%; margin: 0 auto">
        <h3><a href="mailto:sanitizedinput@gmail.com">Email</a> | <a href="https://twitter.com/sanitizedinput">Twitter</a> | <a href="https://www.linkedin.com/in/christian-s-jones/">LinkedIn</a></h3>
        <h5><p align="right"> Pod: {{ pod }}  |   Node: {{ node }}       </p></h5>

      </div>
    </div><!-- /.container-fluid -->
  </nav>
</footer>
</html>
