<!DOCTYPE html>
<html lang=en>

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107371884-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-107371884-1');
  </script>

  <meta charset=utf-8>
  <title>Sanitized Input</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel=stylesheet>
  <link href="{{ url_for('static', filename='css/sanitized.css') }}" rel=stylesheet>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logoonly.png') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href=/logoonly.png rel=icon>
</head>

<header>
  <nav class="navbar navbar-inverse">
    <div class="container" style="max-width: 80%; background-image: url({{ url_for('static', filename='images/background.png') }}); background-size: 100%">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div style="max-width: 800px; margin: 0 auto">
        <div class="navbar-header" style="min-height: 85px">
          <a class="navbar-brand" href="/"><img style="max-width: 165px; margin-top: -4px" src="{{ url_for('static', filename='images/banner.png') }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-links">
          <ul class="navs navbar-nav">
            <li vertical-align=bottom padding=2px><a href="/">Home<span class="sr-only">(current)</span></a></li>
            <li vertical-align=bottom><a href="/projects/">Projects<span class="sr-only">(current)</span></a></li>
            <li vertical-align=bottom><a href="/about/">About<span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>
</header>

<body>
  <div class="gcont">
    <div class="container">

      <div class="sectiontitle">
        <center><img style="max-width: 240px" src="{{ url_for('static', filename='images/banner.png') }}">

          <h2 style="color: #f4511e">Welcome!</h2>
        </center>
        <div class="row" align="right">
          <div>
            <h2 class="display-3">
          </div>
          <div style="max-width: 400px; margin: 0 auto">
            <p align="left" <p style="padding: 0 15px">
              This is simply a place for me to chronicle and share my projects. Below you will find the most recent projects. Thank you for stopping by!<br /></p>
          </div>
        </div>
      </div>
      <div class="sectiontitle" style="max-width: 800px; margin: 0 auto">
        <center><span style="color: #f4511e">
            <h2 style="color: #f4511e">Latest Updates</h2>
          </span></center>
        </border>
        <hr style="max-width: 800px; margin: 0 auto">
        <!--Begin Latest-->

        <div class="row" align="right">
          <div class="col-xs-8 col-sm-4">
            <h2 class="display-3"><a href="/pi-radio/"><img style="max-width: 100%; max-height: 160px; position: relative" src="{{ url_for('static', filename='images/pi-radio.jpg') }}"></a>
          </div>
          <div class="col-xs-16 col-sm-8"><br />
            <p align="left"><a href="/pi-radio/"><span style="color: #f4511e"><b>Rasperry Pi Radio</b></span></a> I turned an old broken 1930s TrueTone radio into an Internet radio with a custom front-end written in Python3. <br />
            </p>
          </div>
          <!-- Add the extra clearfix for only the required viewport -->
          <div class="clearfix visible-xs-block"></div>
        </div>

        <div class="row" align="right">
          <div class="col-xs-8 col-sm-4">
            <h2 class="display-3"><a href="/bartop/"><img style="max-width: 100%; max-height: 160px; position: relative" src="{{ url_for('static', filename='images/CabPlan.png') }}"></a>
          </div>
          <div class="col-xs-16 col-sm-8"><br />
            <p align="left"><a href="/bartop/"><span style="color: #f4511e"><b>Bartop MAME cabinent</b></span></a> When I was growing up arcades were everywhere, now they are rare. Lets create our own arcade machine to play our old favorites!
              (In-Progress)<br />
            </p>
          </div>
          <!-- Add the extra clearfix for only the required viewport -->
          <div class="clearfix visible-xs-block"></div>
        </div>

        <div class="row" align="right">
          <div class="col-xs-8 col-sm-4">
            <h2 class="display-3"><a href="/pi-kiosk/"><img style="max-width: 100%; max-height: 160px; position: relative" src="{{ url_for('static', filename='images/kiosk.jpg') }}"></a>
          </div>
          <div class="col-xs-16 col-sm-8"><br />
            <p align="left"><a href="/pi-kiosk/"><span style="color: #f4511e"><b>Raspberry Pi Kiosk</b></span></a> The Raspberry Pi can be used as capable and inexpensive kiosk for personal or even business use. This project will go over setup of
              the
              Raspberry Pi and how to create the Python code to drive a browser.<br />
            </p>
          </div>
          <!-- Add the extra clearfix for only the required viewport -->
          <div class="clearfix visible-xs-block"></div>
        </div>
      </div>
      <!--End Latest-->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
