{% extends "header.html" %}

{% block body %}
<div id="container" class="gcont">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class=""><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="/projects/">Projects</a></li>
    <li role="presentation" class=""><a href="/about/">About</a></li>
  </ul>
  <div class="sectiontitle" style="max-width: 800px; margin: 0 auto">

    <center><h3 style="color: #f4511e">Raspberry Pi</h3></center>
    <hr>
    <ul class="projul">
      {% for t in TOPIC_DICT["RPI"] %}
      <li><a href="{{t[1]}}"  style="color:#f4511e">{{t[0]}}</a>
        <p>{{t[4]}}</p>
      </li>
    <br />
    <br />
    {% endfor %}
    </ul>

    <center><h3 style="color: #f4511e">Cloud</h3></center>
    <hr>
    <ul class="projul">
      {% for t in TOPIC_DICT["Cloud"] %}
      <li>
        <a href="{{t[1]}}"  style="color:#f4511e">{{t[0]}}</a>
        <p>{{t[4]}}</p>
      </li>
    <br />
    <br />
    {% endfor %}
    </ul>

    <center><h3 style="color: #f4511e">Random</h3></center>
    <hr>
    <ul class="projul">
      {% for t in TOPIC_DICT["Random"] %}
      <li>
        <a href="{{t[1]}}"  style="color:#f4511e">{{t[0]}}</a>
        <p>{{t[4]}}</p>
      </li>
    <br />
    <br />
    {% endfor %}
    </ul>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  $('#myTab a').click(function(e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>

{% endblock %}
