{% extends "header.html" %}

{% block body %}
<div id="container" class="gcont">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="/projects.html" aria-controls="rpi" role="tab" data-toggle="tab">Raspberry Pi</a></li>
    <li role="presentation" class="active"><a href="#Telecom" aria-controls="Telecom" role="tab" data-toggle="tab">Telecom</a></li>
    <li role="presentation"><a href="#Random" aria-controls="Random" role="tab" data-toggle="tab">Random</a></li>
  </ul>

  <!-- Tab panes -->

  <div class="tab-content projects" style="max-width: 100%">
    <a name="rpi">
      <div role="tabpanel" class="tab-pane active" id="rpi">
        <ul style="list-style-type: none">
          <br><br>
          {% for t in TOPIC_DICT["RPI"] %}
          <li><a href="{{t[1]}}">
              <p>
                <h3>{{t[0]}}:{{t[2]}}</h3>
            </a><br><img style="max-width: 65%" src="{{ url_for('static', filename='images/') }}{{t[3]}}">
    </a><br><br>
    <p>{{t[4]}}</p>
    </li>
    <br>
    <hr><br>
    {% endfor %}
    </ul>
  </div>

  <div role="tabpanel" class="tab-pane" id="Telecom">
    <a name="Telecom">
      <ul style="list-style-type: none">
        <br><br>
        {% for t in TOPIC_DICT["Telecom"] %}
        <li><a href="{{t[1]}}">
            <p>
              <h3>{{t[0]}}:{{t[2]}}</h3>
          </a><br><img style="max-width: 65%" src="{{ url_for('static', filename='images/') }}{{t[3]}}">
          <p>{{t[4]}}</p>
        </li>
        <br>
        <hr><br>
        {% endfor %}
      </ul>
  </div>

  <div role="tabpanel" class="tab-pane" id="Random">
    <a name="Random">
      3
  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  $('#myTab a').click(function(e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>

{% endblock %}
